<!DOCTYPE html>
<html>
	<head>
		<title>{% block title %}Bibliothèque en ligne{% endblock %}</title>
		<meta charset="UTF-8" />
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/fontawesome-all.min.css" />
	</head>
	<body>
		{% block body %}
		
		{% endblock %}
		{% block javascript "" %}
	</body>
</html>
