<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <script type="application/javascript" src="{{ asset('js/jquery.js') }}"></script> 
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/esm/popper-utils.js"></script>
        <script type="application/javascript" src="{{ asset('js/bootstrap.bundle.js') }}"></script> 
        <script type="application/javascript" src="{{ asset('js/bootstrap.js') }}"></script>
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<style>.btn-circle{border-radius : 100%}</style>
    </head>
    <body>
		<div class="float-right"> {% block breadcrumb %}{% endblock %}</div>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
